trunk/QuestionGen/QuestionGen/Service References/服务/题.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="题_插入">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_插入Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题_插入Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_插入">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="名称" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_插入Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_插入Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_获取">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>