QuestionGen/QuestionGen/Service References/服务/题.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3471/Service/题.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3471/Service/题.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="题_知识面_插入_InputMessage">
    <wsdl:part name="parameters" element="知识面_插入" />
  </wsdl:message>
  <wsdl:message name="题_知识面_插入_OutputMessage">
    <wsdl:part name="parameters" element="知识面_插入Response" />
  </wsdl:message>
  <wsdl:message name="题_知识面_更新_InputMessage">
    <wsdl:part name="parameters" element="知识面_更新" />
  </wsdl:message>
  <wsdl:message name="题_知识面_更新_OutputMessage">
    <wsdl:part name="parameters" element="知识面_更新Response" />
  </wsdl:message>
  <wsdl:message name="题_题_插入_InputMessage">
    <wsdl:part name="parameters" element="题_插入" />
  </wsdl:message>
  <wsdl:message name="题_题_插入_OutputMessage">
    <wsdl:part name="parameters" element="题_插入Response" />
  </wsdl:message>
  <wsdl:message name="题_题_修改_InputMessage">
    <wsdl:part name="parameters" element="题_修改" />
  </wsdl:message>
  <wsdl:message name="题_题_修改_OutputMessage">
    <wsdl:part name="parameters" element="题_修改Response" />
  </wsdl:message>
  <wsdl:message name="题_知识面_获取_InputMessage">
    <wsdl:part name="parameters" element="知识面_获取" />
  </wsdl:message>
  <wsdl:message name="题_知识面_获取_OutputMessage">
    <wsdl:part name="parameters" element="知识面_获取Response" />
  </wsdl:message>
  <wsdl:message name="题_题_获取_InputMessage">
    <wsdl:part name="parameters" element="题_获取" />
  </wsdl:message>
  <wsdl:message name="题_题_获取_OutputMessage">
    <wsdl:part name="parameters" element="题_获取Response" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_选项_获取_InputMessage">
    <wsdl:part name="parameters" element="题_选择_选项_获取" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_选项_获取_OutputMessage">
    <wsdl:part name="parameters" element="题_选择_选项_获取Response" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_答案_获取_InputMessage">
    <wsdl:part name="parameters" element="题_选择_答案_获取" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_答案_获取_OutputMessage">
    <wsdl:part name="parameters" element="题_选择_答案_获取Response" />
  </wsdl:message>
  <wsdl:message name="题_类型_获取_InputMessage">
    <wsdl:part name="parameters" element="类型_获取" />
  </wsdl:message>
  <wsdl:message name="题_类型_获取_OutputMessage">
    <wsdl:part name="parameters" element="类型_获取Response" />
  </wsdl:message>
  <wsdl:message name="题_知识面_获取行数_InputMessage">
    <wsdl:part name="parameters" element="知识面_获取行数" />
  </wsdl:message>
  <wsdl:message name="题_知识面_获取行数_OutputMessage">
    <wsdl:part name="parameters" element="知识面_获取行数Response" />
  </wsdl:message>
  <wsdl:message name="题_题_获取行数_InputMessage">
    <wsdl:part name="parameters" element="题_获取行数" />
  </wsdl:message>
  <wsdl:message name="题_题_获取行数_OutputMessage">
    <wsdl:part name="parameters" element="题_获取行数Response" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_选项_获取行数_InputMessage">
    <wsdl:part name="parameters" element="题_选择_选项_获取行数" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_选项_获取行数_OutputMessage">
    <wsdl:part name="parameters" element="题_选择_选项_获取行数Response" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_答案_获取行数_InputMessage">
    <wsdl:part name="parameters" element="题_选择_答案_获取行数" />
  </wsdl:message>
  <wsdl:message name="题_题_选择_答案_获取行数_OutputMessage">
    <wsdl:part name="parameters" element="题_选择_答案_获取行数Response" />
  </wsdl:message>
  <wsdl:message name="题_类型_获取行数_InputMessage">
    <wsdl:part name="parameters" element="类型_获取行数" />
  </wsdl:message>
  <wsdl:message name="题_类型_获取行数_OutputMessage">
    <wsdl:part name="parameters" element="类型_获取行数Response" />
  </wsdl:message>
  <wsdl:message name="题_知识面_删除_InputMessage">
    <wsdl:part name="parameters" element="知识面_删除" />
  </wsdl:message>
  <wsdl:message name="题_知识面_删除_OutputMessage">
    <wsdl:part name="parameters" element="知识面_删除Response" />
  </wsdl:message>
  <wsdl:message name="题_题_删除_InputMessage">
    <wsdl:part name="parameters" element="题_删除" />
  </wsdl:message>
  <wsdl:message name="题_题_删除_OutputMessage">
    <wsdl:part name="parameters" element="题_删除Response" />
  </wsdl:message>
  <wsdl:message name="题_类型_删除_InputMessage">
    <wsdl:part name="parameters" element="类型_删除" />
  </wsdl:message>
  <wsdl:message name="题_类型_删除_OutputMessage">
    <wsdl:part name="parameters" element="类型_删除Response" />
  </wsdl:message>
  <wsdl:portType name="题">
    <wsdl:operation name="知识面_插入">
      <wsdl:input wsaw:Action="urn:题/知识面_插入" message="题_知识面_插入_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_插入Response" message="题_知识面_插入_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="知识面_更新">
      <wsdl:input wsaw:Action="urn:题/知识面_更新" message="题_知识面_更新_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_更新Response" message="题_知识面_更新_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_插入">
      <wsdl:input wsaw:Action="urn:题/题_插入" message="题_题_插入_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_插入Response" message="题_题_插入_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_修改">
      <wsdl:input wsaw:Action="urn:题/题_修改" message="题_题_修改_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_修改Response" message="题_题_修改_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="知识面_获取">
      <wsdl:input wsaw:Action="urn:题/知识面_获取" message="题_知识面_获取_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_获取Response" message="题_知识面_获取_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_获取">
      <wsdl:input wsaw:Action="urn:题/题_获取" message="题_题_获取_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_获取Response" message="题_题_获取_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_选择_选项_获取">
      <wsdl:input wsaw:Action="urn:题/题_选择_选项_获取" message="题_题_选择_选项_获取_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_选择_选项_获取Response" message="题_题_选择_选项_获取_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_选择_答案_获取">
      <wsdl:input wsaw:Action="urn:题/题_选择_答案_获取" message="题_题_选择_答案_获取_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_选择_答案_获取Response" message="题_题_选择_答案_获取_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="类型_获取">
      <wsdl:input wsaw:Action="urn:题/类型_获取" message="题_类型_获取_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/类型_获取Response" message="题_类型_获取_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="知识面_获取行数">
      <wsdl:input wsaw:Action="urn:题/知识面_获取行数" message="题_知识面_获取行数_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_获取行数Response" message="题_知识面_获取行数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_获取行数">
      <wsdl:input wsaw:Action="urn:题/题_获取行数" message="题_题_获取行数_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_获取行数Response" message="题_题_获取行数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_选择_选项_获取行数">
      <wsdl:input wsaw:Action="urn:题/题_选择_选项_获取行数" message="题_题_选择_选项_获取行数_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_选择_选项_获取行数Response" message="题_题_选择_选项_获取行数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_选择_答案_获取行数">
      <wsdl:input wsaw:Action="urn:题/题_选择_答案_获取行数" message="题_题_选择_答案_获取行数_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_选择_答案_获取行数Response" message="题_题_选择_答案_获取行数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="类型_获取行数">
      <wsdl:input wsaw:Action="urn:题/类型_获取行数" message="题_类型_获取行数_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/类型_获取行数Response" message="题_类型_获取行数_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="知识面_删除">
      <wsdl:input wsaw:Action="urn:题/知识面_删除" message="题_知识面_删除_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_删除Response" message="题_知识面_删除_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_删除">
      <wsdl:input wsaw:Action="urn:题/题_删除" message="题_题_删除_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_删除Response" message="题_题_删除_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="类型_删除">
      <wsdl:input wsaw:Action="urn:题/类型_删除" message="题_类型_删除_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/类型_删除Response" message="题_类型_删除_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>