QuestionGen/QuestionGen/Service References/服务/题.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:3471/Service/题.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:3471/Service/题.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="题_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="题_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="题_题_插入_InputMessage">
    <wsdl:part name="parameters" element="题_插入" />
  </wsdl:message>
  <wsdl:message name="题_题_插入_OutputMessage">
    <wsdl:part name="parameters" element="题_插入Response" />
  </wsdl:message>
  <wsdl:message name="题_知识面_插入_InputMessage">
    <wsdl:part name="parameters" element="知识面_插入" />
  </wsdl:message>
  <wsdl:message name="题_知识面_插入_OutputMessage">
    <wsdl:part name="parameters" element="知识面_插入Response" />
  </wsdl:message>
  <wsdl:portType name="题">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:题/DoWork" message="题_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/DoWorkResponse" message="题_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="题_插入">
      <wsdl:input wsaw:Action="urn:题/题_插入" message="题_题_插入_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/题_插入Response" message="题_题_插入_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="知识面_插入">
      <wsdl:input wsaw:Action="urn:题/知识面_插入" message="题_知识面_插入_InputMessage" />
      <wsdl:output wsaw:Action="urn:题/知识面_插入Response" message="题_知识面_插入_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>