QuestionGen/QuestionGen/Service References/服务/题.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="知识面_插入">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_插入Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_插入Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_删除">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_删除Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_删除Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_更新">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_更新Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_更新Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_插入">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="选项" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="答案" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_插入Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题_插入Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_获取">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="查询" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="知识面_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="知识面_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_获取">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="查询" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_选择_选项_获取">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="查询" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_选择_选项_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题_选择_选项_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_选择_答案_获取">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="查询" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="题_选择_答案_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="题_选择_答案_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="类型_获取">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="查询" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="类型_获取Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="类型_获取Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>